//====================================
//  Align
//====================================

// ex. class="u-align" data-align="sp:left"
//--------------------------------------------
.u-align {
  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      &[data-align~="#{$device}:left"] {
        text-align: left;
      }
      &[data-align~="#{$device}:center"] {
        text-align: center;
      }
      &[data-align~="#{$device}:right"] {
        text-align: right;
      }
    }
  }
}
