//====================================
//  Display
//====================================
.u-display {
  &[data-display~="sp:only"] {
    display: block;

    @include mq() {
      display: none;
    }
  }
  &[data-display~="tab:over"] {
    display: none;

    @include mq() {
      display: block;
    }
  }
  &[data-display~="lap:over"] {
    display: none;

    @include mq(lap) {
      display: block;
    }
  }
}
