//============================================
//  Margin
//============================================

/**
 * 上下マージン
 * - 4px
 * - 8px
 * - 16px
 * - 24px
 * - 32px
 * - 40px
 * - 48px
 * - 56px
 * - 64px
 * - 72px
 * - 80px
 */
$marginList: 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;

.u-margin {
  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      @each $margin in $marginList {
        &[data-margin-top~="#{$device}:#{$margin}"] {
          margin-top: #{$margin}px;
        }
        &[data-margin-bottom~="#{$device}:#{$margin}"] {
          margin-bottom: #{$margin}px;
        }
      }
    }
  }
}
