---
import Layout from '../layouts/Layout.astro';

import {getNews} from '../library/microcms';
const res = await getNews({fields: ['id', 'title']});
---

<Layout title="Welcome to Astro." test="これはテストです">
  <main>
    <ul>
      {res.contents.map((content: any) => (
        <li>
          <a href="{content.id}">{content.title}</a>
        </li>
      ))}
    </ul>
  </main>
</Layout>

<style lang="scss">
</style>
